################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge-JS/.vs/CodeChallenge-JS
